<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matan.intellignet" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TashchezMenu" >
        </activity>
        <activity android:name=".TashchezHigayonMenu" >
        </activity>
        <activity android:name=".MadregotMenu" >
        </activity>
        <activity android:name=".MeuznachMenu" >
        </activity>
        <activity android:name=".BeitHamishpatMenu" >
        </activity>
        <activity android:name=".SheledMisparimMenu" >
        </activity>
        <activity android:name=".KaveretMenu" >
        </activity>
        <activity android:name=".TguvatSharsheretMenu" >
        </activity>
        <activity android:name=".ChatMenu" >
        </activity>
        <activity android:name=".HagdarotMenu" >
        </activity>
        <activity android:name=".OdotMenu" >
        </activity>
        <activity android:name=".SudokuMenu" >
        </activity>
        <activity
            android:name=".TashchezUI"
            android:label="@string/title_activity_tashchez_pl"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
