<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matan.intellignet" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".LoginActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity
            android:name=".TashchezMenu"
            android:noHistory="false" >
        </activity>
        <activity
            android:name=".TashchezHigayonMenu"
            android:noHistory="true" >
        </activity>
        <activity android:name=".MadregotMenu" >
        </activity>
        <activity android:name=".MeuznachMenu" >
        </activity>
        <activity android:name=".BeitHamishpatMenu" >
        </activity>
        <activity android:name=".SheledMisparimMenu" >
        </activity>
        <activity android:name=".KaveretMenu" >
        </activity>
        <activity android:name=".TguvatSharsheretMenu" >
        </activity>
        <activity android:name=".ChatMenu" >
        </activity>
        <activity android:name=".HagdarotMenu" >
        </activity>
        <activity android:name=".OdotMenu" >
        </activity>
        <activity android:name=".SudokuMenu" >
        </activity>
        <activity
            android:name=".TashchezUI"
            android:noHistory="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"

            >
        </activity>
        <activity
            android:name=".MainActivity"
            android:noHistory="false"
            android:screenOrientation="nosensor">

        </activity>
        <activity
            android:name=".SignupActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".WallUI"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".TashchezHigayonUI"
            android:noHistory="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="nosensor">
        </activity>
        <activity android:name=".SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
